h1 {
    margin-bottom: 0px;
}

h2 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.primary-text {
    color: #c0c0c0;
}

.card-background {
    background-color: #0d0d0d;
}

.primary-icon-container {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.icon-link {
    color: #4f8cc9;
}

.icon-link:hover {
    color: #69c1d8;
}

.about {
    font-size: 1.3em;
}
